{% extends 'base.html' %}

{% block content %}
<h1>About Page</h1>
<h3>{{ title|capfirst|title }}</h3>
<p>This is a template</p>

{{ my_html|safe }}

<p>
    {{ my_number }},{{my_list}}
</p>
<ul>
    <li>Item 1</li>
    <li>Item 2</li>
</ul>
<p>
    {% for x in my_list %}
        {% if x == 454 %}
            <li>{{forloop.counter}} - {{x|add:22}}</li>
        {% elif x == "batu" %}
            <li>{{forloop.counter}} - İşte Bu Ammmmmmmmmmcık</li>
        {% else %}
            <li>{{forloop.counter}} - {{x}}</li>
        {% endif %}

    {% endfor %}

</p>

{% endblock %}